* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(43, 43, 43);
}
h1 {
  color: rgb(230, 230, 230);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#tux {
  cursor: pointer;
  margin-top: 20px;
}
#tux:active {
  transform: scale(0.95);
}
.sketch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 48, 48);
  padding: 20px 20px;
  margin-top: 10px;
  border-radius: 20px;
}
#box {
  display: flex;
  justify-content: center;
  align-items: center;
}
